__pycache__/

apps/authentication/__pycache__/
apps/authentication/migrations/

apps/base/__pycache__/
apps/base/migrations/

apps/users/__pycache__/
apps/users/migrations/
apps/users/api/__pycache__
apps/users/api/serializers/__pycache__/
apps/users/api/views/__pycache__/

config/__pycache__/

config/settings/__pycache__/
config/settings/local_win.py
config/settings/database_info.py





